.thread-page {
  &__title {
    font-size: 20px;
    text-align: center;

    margin-bottom: 16px;
  }

  &__post-list {
    flex: 1;

    margin-bottom: 16px;
  }

  &__post {
    background: #43474f;
    border-radius: 5px;

    width: 100%;
    max-width: 100%;

    @media screen and (min-width: 600px) {
      width: max-content;
      min-width: 500px;
    }

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__post-form {
    &.post-form_fixed {
      position: fixed;
      bottom: 0;
      left: 0;

      background: #36393f;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
      clip-path: inset(-24px 0 0 0);

      width: 100%;
      padding: 16px;

      z-index: 50;
    }
  }

  #post-form-placeholder {
    display: none;
  }

  &__post-form.post-form_fixed ~ #post-form-placeholder {
    display: block;
  }
}
