.markup-buttons {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: -4px;

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;

    background: #43474f;
    border: 0;
    border-radius: 3px;

    color: #9da2b2;
    font-size: 14px;

    min-width: 24px;
    height: 24px;
    padding: 0 4px;
    margin: 0 4px 4px 0;

    transition: background-color 100ms ease;

    cursor: pointer;

    &:hover {
      background: #292b30;
    }

    &_bold {
      font-weight: bold;
    }

    &_italic {
      font-style: italic;
    }

    &_underline {
      text-decoration: underline;
    }

    &_strike {
      text-decoration: line-through;
    }

    sup {
      top: -0.25em;
    }

    sub {
      bottom: -0.5em;
    }
  }
}
