.post-file {
  &__info {
    font-size: 0.8em;
  }

  &__link {
    display: block;
  }

  &__picture,
  &__image {
    max-width: 100%;
    height: auto;

    opacity: 1;
    transition: opacity 200ms ease;
  }

  &__image {
    border-radius: 5px;
    overflow: hidden;
  }

  &_audio &__image,
  &_video &__image {
    border: 2px dashed #eee;
  }
}

.layout.nsfw .post-file {
  &__picture,
  &__image {
    opacity: 0.15;

    &:hover {
      opacity: 1;
    }
  }
}
