.post {
  &__header {
    display: flex;
    flex-flow: column nowrap;
    align-items: baseline;
    padding: 8px 16px;

    @media screen and (min-width: 600px) {
      flex-flow: row wrap;
    }
  }

  &__author {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;

    font-size: 18px;
    word-break: break-word;

    margin-right: 16px;
  }

  &__name {
    font-weight: bold;
  }

  &__tripcode {
    &:not(:empty)::before {
      content: '!';
    }
  }

  &__date {
    color: #a9a9a9;
    margin-right: 16px;
  }

  &__id {
    color: #e3833d;

    &::before {
      content: '№';
    }
  }

  &__content {
    padding: 0 16px 8px;

    &::after {
      content: '';
      display: table;
      clear: both;
    }
  }

  @media screen and (min-width: 600px) {
    &_single-file &__files {
      float: left;
    }

    &_single-file &__message {
      padding-top: 38px;
    }
  }

  &_multiple-files &__files {
    margin-right: -16px;
  }

  &__message {
    word-break: break-word;
  }
}
