@import './mixins';

* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;

  @extend %scrollbar;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

picture,
img {
  display: block;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table,
thead,
tbody,
tr,
th,
td {
  border: 1px solid;
}

th {
  font-weight: normal;
}

thead th {
  font-weight: bold;
}

td {
  text-align: center;
}

pre,
code,
kbd,
var,
samp {
  font-family: 'Fira Code', monospace;
}

[id] {
  scroll-margin-top: 2ex;
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus,
:-webkit-autofill:active {
  transition-delay: 99999s;
}
