.sidebar {
  font-size: 18px;
  font-weight: bold;

  &__title {
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;

    text-decoration: none;

    margin: 12px 16px 28px;

    .icon {
      font-size: 20px;
      margin-right: 16px;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__link {
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;

    border-radius: 50px;

    text-decoration: none;

    max-width: 100%;

    padding: 8px 16px;

    transition: background 100ms ease;

    .icon {
      font-size: 20px;
      margin-right: 16px;
    }

    &:hover {
      background: #303339;

      .icon {
        background: #cfd4e3;
      }
    }

    &_active,
    &_active:hover {
      background: #303339;

      .icon {
        background: #e3833d;
      }
    }
  }

  &__text {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
